/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
* {
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

/* ----- MAIN ----- */
main {
    height: 100vh;
    background-color: aqua;
}

/* TOP SECTION */
.top-section {
    height: 5%;
    background-color: black;
    text-align: right;
    padding: 5px 10px;
}

.top-section button {
    padding: 5px;
    background-color: #4A4A4A;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}


/* MAIN SECTION */
.main-section {
    padding: 45px 50px;
    height: 85%;
    background-color: black;
    overflow-y: scroll;

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.user-box {
    padding: 5px;
    margin-bottom: 10px;
    height: 180px;
    width: 300px;
}

.user {
    height: 100%;
    background-image: url('https://picsum.photos/200/300');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.user-name {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    font-size: 0.8em;

    position: absolute;
    bottom: 0;
    left: 0;
}




/* BOTTOM SECTION */
.bottom-section {
    height: 10%;
    background-color: salmon;
}

