/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
* {
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

button {
    cursor: pointer;
}

.clearifix::after {
    content: "";
    display: table;
    clear: both;
}

/* ----- MAIN ----- */
main {
    height: 100vh;
    background-color: aqua;
}

/* TOP SECTION */
.top-section {
    height: 5%;
    background-color: black;
    text-align: right;
    padding: 5px 10px;
}

.top-section button {
    padding: 5px;
    background-color: #4A4A4A;
    color: white;
    border-radius: 3px;
    border: none;
}


/* MAIN SECTION */
.main-section {
    height: 87%;
    padding: 45px 50px;
    background-color: black;
    overflow-y: scroll;

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.user-box {
    padding: 5px;
    margin-bottom: 10px;
    height: 180px;
    width: 300px;
}

.user {
    height: 100%;
    background-image: url('https://picsum.photos/200/300');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.user-name {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    font-size: 0.8em;

    position: absolute;
    bottom: 0;
    left: 0;
}

/* BOTTOM SECTION */
.bottom-section {
    height: 8%;
    background-color: #222222;
    padding-left: 5px;
}

.bottom-section button {
    background: none;
    border: none;
    height: 100%;
    padding: 0 8px;
    color: white;

    vertical-align: top;
    /* qua stavo per piangere. A quanto pare se il testo nei bottoni va a capo l'altezza si sminchia (termine tecnico) e vertical-align è la soluzione. Potevo fare diversamente? Probabile, ma era diventata una questione di principio  */
}

.bottom-section button:active {
    background-color: #2c2c2c;
}

.bottom-section i {
    font-size: 2em;
    margin-bottom: 5px;
}

.bottom-section .more-options {
    font-size: 6px;
    padding: 0;
}

/* MEDIA SECTION */
.media-section {
    width: 25%;
    height: 100%;
}

.mic-button-box,
.cam-button-box {
    height: 100%;
    float: left;
    margin-right: 5px;
}

/* BUTTON SECTION */
.button-section {
    width: 50%;
    height: 100%;
    text-align: center;
}

.share i{
    color: #4BC800;
}

/* END SECTION */
.end-section {
    width: 25%;
    height: 100%;
    text-align: right;
}

.end-section button {
    background-color: #4A4A4A;
    padding: 0 20px;
    color: red;    /* chi ha deciso di fare la scritta rossa su fondo grigio merita la galera (mio parere, eh)  */
}


